<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="stCoCServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <stCoCServer.Properties.Settings>
            <setting name="setVersion" serializeAs="String">
                <value>{0}{1} (st) IRC-Bot v.{2} (http://clanru.pick-nik.ru/wiki:ircbot)</value>
            </setting>
            <setting name="setHttpContentDisposition" serializeAs="String">
                <value>inline; filename="{0}"</value>
            </setting>
            <setting name="setHttpJSONBadRequest" serializeAs="String">
                <value>{{"error":{0},"msg":"Bad request, reason: {1}","data":[{2}]}}</value>
            </setting>
            <setting name="setPrnTemplate" serializeAs="String">
                <value>{0}(st) IRC-Bot {1}:{0}{2}{3}</value>
            </setting>
            <setting name="setCoCHttpClient" serializeAs="String">
                <value>CoC Client</value>
            </setting>
        </stCoCServer.Properties.Settings>
    </applicationSettings>
</configuration>
