<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="stCoCAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <stCoCAPI.Properties.Settings>
            <setting name="DBTableList" serializeAs="String">
                <value>SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;</value>
            </setting>
            <setting name="DBWhereDate" serializeAs="String">
                <value>AND year = {0} AND season = {1}</value>
            </setting>
            <setting name="DBSelectClanInfo" serializeAs="String">
                <value>SELECT * FROM clan</value>
            </setting>
            <setting name="DBSelectMember" serializeAs="String">
                <value>SELECT *  FROM clanmembers WHERE status = {0}</value>
            </setting>
            <setting name="DBSelectMemberTag" serializeAs="String">
                <value>AND tag = '{0}'</value>
            </setting>
            <setting name="DBSelectDonation" serializeAs="String">
                <value>SELECT * FROM clanmembers WHERE status &gt; 0</value>
            </setting>
            <setting name="DBSelectDonationRatio" serializeAs="String">
                <value>AND send &gt; 0 AND receive &gt; 0</value>
            </setting>
            <setting name="DBSelectDonationTotal" serializeAs="String">
                <value>SELECT sum(send) tsend, sum(receive) treceive FROM clanmembers WHERE 1 = 1</value>
            </setting>
            <setting name="DBSelectMemberListOrder" serializeAs="String">
                <value>ORDER BY trophies DESC</value>
            </setting>
            <setting name="DBSelectDonationSendOrder" serializeAs="String">
                <value>ORDER BY send DESC LIMIT 5</value>
            </setting>
            <setting name="DBSelectDonationReceiveOrder" serializeAs="String">
                <value>ORDER BY receive DESC LIMIT 5</value>
            </setting>
            <setting name="DBSelectDonationRatioOrder" serializeAs="String">
                <value>ORDER BY ratio DESC LIMIT 5</value>
            </setting>
            <setting name="DBSelectLeaque" serializeAs="String">
                <value>SELECT {0} FROM league WHERE id = {1}</value>
            </setting>
            <setting name="CoCMediaURL" serializeAs="String">
                <value>https://api-assets.clashofclans.com</value>
            </setting>
            <setting name="DBSysUpdateNotPublicWar" serializeAs="String">
                <value>UPDATE ClanInfo SET warpub = 0 WHERE tag = '{0}'</value>
            </setting>
            <setting name="DBSysUpdateMembers" serializeAs="String">
                <value>SELECT * FROM ClanMember WHERE COCSEASON(year,season) = 1</value>
            </setting>
            <setting name="DBSysUpdateClanInfo" serializeAs="String">
                <value>SELECT * FROM ClanInfo</value>
            </setting>
            <setting name="DBSysUpdateSelect" serializeAs="String">
                <value>SELECT * FROM {0}</value>
            </setting>
            <setting name="CoCLocalMediaURL" serializeAs="String">
                <value>/{0}/{1}/{2}/{3}/{4}</value>
            </setting>
            <setting name="DBSelectWarClan" serializeAs="String">
                <value>SELECT * FROM clanwar ORDER BY dtend DESC</value>
            </setting>
            <setting name="DBSelectWarLast" serializeAs="String">
                <value>LIMIT 3</value>
            </setting>
            <setting name="NotifyRssClanLink" serializeAs="String">
                <value>/assets/html/ClanInfo.html</value>
            </setting>
            <setting name="NotifyRssMemberLink" serializeAs="String">
                <value>/assets/html/ClanList.html</value>
            </setting>
        </stCoCAPI.Properties.Settings>
    </applicationSettings>
</configuration>