<?xml version="1.0"?>
<configuration>
  <dllmap dll="sqlite3" target="/usr/lib/libsqlite3.so" os="!windows,osx" cpu="x86"/>
  <dllmap dll="sqlite3" target="/usr/lib/libsqlite3.so" os="!windows,osx" cpu="x86-64"/>
  <dllmap dll="sqlite3" target="/usr/lib/libsqlite3.0.dylib" os="osx"/>
</configuration>
