<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="stGeo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="stGeo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <stGeo.Properties.Settings>
            <setting name="stGeoHelpURL" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string>https://developer.mapquest.com/plan_purchase/steps/business_edition/business_edition_free/register</string>
                        <string>https://tech.yandex.ru/maps/</string>
                        <string>https://developers.google.com/maps/documentation/static-maps/get-api-key</string>
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="stGeoURL" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string>https://www.mapquestapi.com/staticmap/v4/getplacemap</string>
                        <string>https://static-maps.yandex.ru/1.x/</string>
                        <string>https://maps.googleapis.com/maps/api/staticmap</string>
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="stGeoKeyRequire" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>false</string>
                        <string>true</string>
                        <string>false</string>
                        <string>true</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="stFileMaxMindASN" serializeAs="String">
                <value>GeoIPASNum2.csv</value>
            </setting>
            <setting name="stFileMaxMindCountry" serializeAs="String">
                <value>GeoIPCountryWhois.csv</value>
            </setting>
            <setting name="stFileGeoData" serializeAs="String">
                <value>stGeoData.bin</value>
            </setting>
            <setting name="stMaxMindASNPrefix" serializeAs="String">
                <value>AS</value>
            </setting>
            <setting name="stZipFileMaxMindASN" serializeAs="String">
                <value>GeoIPASNum2.zip</value>
            </setting>
            <setting name="stZipFileMaxMindCountry" serializeAs="String">
                <value>GeoIPCountryCSV.zip</value>
            </setting>
            <setting name="stMaxMindDownloadCountryURL" serializeAs="String">
                <value>http://geolite.maxmind.com/download/geoip/database/</value>
            </setting>
            <setting name="stMaxMindDownloadASNURL" serializeAs="String">
                <value>http://download.maxmind.com/download/geoip/database/asnum/</value>
            </setting>
        </stGeo.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <stGeo.Properties.Settings>
            <setting name="stGeoKey" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                        <string>5jVVtbLUJnjEIyII17ZlKzwkEi2gwqMB</string>
                        <string />
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
        </stGeo.Properties.Settings>
    </userSettings>
</configuration>