<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="stCoCClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="stCoCClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <stCoCClient.Properties.Settings>
            <setting name="MemberNew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemberExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemberChangeNik" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemberChangeRole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemberChangeLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemberChangeLeague" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemberChangeTrophies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemberChangeDonationSend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MemberChangeDonationReceive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClanChangeName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClanChangeType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClanChangeLevel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClanChangePoints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClanChangeMembers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClanChangeTrophies" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClanChangeWarWin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClanChangeWarFrequency" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClanChangeWarSeries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClanChangeWarPublic" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarClanEnd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCServer" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCPort" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCNik" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCKickRespawn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IRCServerMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IRCNoticeMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IRCPrivateMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="USRCoCServer" serializeAs="String">
                <value />
            </setting>
            <setting name="USRCoCTag" serializeAs="String">
                <value />
            </setting>
            <setting name="USRInformerId" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="USRWikiHome" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="USRNotifyUpdateTime" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="USRUrl" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="USRServerVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="TSMIMultiselect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TSMIScroll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="USRTimerNotifyInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TSMINotifyGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportHtmlTableStart" serializeAs="String">
                <value>&lt;div style="overflow-x:auto;"&gt;&lt;table border="1" cellspacing="1" cellpadding="2"&gt;</value>
            </setting>
            <setting name="ExportHtmlTableTh" serializeAs="String">
                <value>&lt;tr&gt;&lt;th colspan="{0}" align="{1}" bgcolor="{2}"&gt;{3}&lt;/th&gt;&lt;/tr&gt;</value>
            </setting>
            <setting name="ExportHtmlTableEnd" serializeAs="String">
                <value>&lt;/table&gt;&lt;/div&gt;</value>
            </setting>
            <setting name="ExportHtmlTableColumnFormat" serializeAs="String">
                <value>&lt;th bgcolor="{0}" width="{1}" align="{2}"&gt;{3}&lt;/th&gt;</value>
            </setting>
            <setting name="ExportHtmlTableTr" serializeAs="String">
                <value>&lt;{0}tr&gt;</value>
            </setting>
            <setting name="ExportHtmlTableTd" serializeAs="String">
                <value>&lt;td align="{0}"&gt;{1}&lt;/td&gt;</value>
            </setting>
            <setting name="ExportHtmlTableStyle" serializeAs="String">
                <value>&lt;style&gt;
table { border-collapse: collapse; width: 900%;}
th, td { border-bottom: 1px solid #ddd; }
tr:hover { background-color: #f5f5f5; }
th { background-color: #4CAF50; color: white; }
&lt;/style&gt;
</value>
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportHtmlTableGroupColor" serializeAs="String">
                <value>#DADADA</value>
            </setting>
            <setting name="ExportHtmlTableColumnColor" serializeAs="String">
                <value>#C0C0C0</value>
            </setting>
            <setting name="IRCChatHistory" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="IRCChatEmojiEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCChatBBCodeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="YandexServiceKeyTranslation" serializeAs="String">
                <value>trnsl.1.1.20170205T092429Z.d94b9696b7a04814.a73de092de64950b3295feb05de2b0dfb9f8229e</value>
            </setting>
            <setting name="YandexServiceKeyPredictate" serializeAs="String">
                <value>pdct.1.1.20170205T092623Z.f0c083fed983e67d.1ac4e3f996d2a66f6dbbf28f0fd08234e3b21621</value>
            </setting>
            <setting name="URLServerInformer" serializeAs="String">
                <value>{0}{1}/player/{2}/{3}/?{4}</value>
            </setting>
        </stCoCClient.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <stCoCClient.Properties.Settings>
            <setting name="URLServerSetup" serializeAs="String">
                <value>{0}assets/clientsetup.json?{1}</value>
            </setting>
            <setting name="URLUserSetup" serializeAs="String">
                <value>{0}clan/player/{1}/</value>
            </setting>
            <setting name="URLNotifySetup" serializeAs="String">
                <value>{0}{1}/json/?{2}</value>
            </setting>
            <setting name="URLMemberSetup" serializeAs="String">
                <value>{0}{1}/list/?{2}</value>
            </setting>
            <setting name="ChatFilterHtml" serializeAs="String">
                <value>&lt;.*?&gt;|&amp;nbsp;|&amp;zwnj;|&amp;raquo;|&amp;laquo;</value>
            </setting>
            <setting name="URLIrcArchive" serializeAs="String">
                <value>{0}/{1}/{2}/</value>
            </setting>
        </stCoCClient.Properties.Settings>
    </applicationSettings>
</configuration>
