<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="stNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <stNet.Properties.Settings>
            <setting name="stConnectTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="stRWTimeout" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="stHttpUADefault" serializeAs="String">
                <value>stClient Custom/ {0} .NET {1}</value>
            </setting>
        </stNet.Properties.Settings>
    </applicationSettings>
</configuration>