<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="stCoCServerConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="stCoCServerConfig.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <stCoCServerConfig.Properties.Settings>
            <setting name="IRCServer" serializeAs="String">
                <value>irc.freenode.net</value>
            </setting>
            <setting name="IRCPort" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="IRCPassword" serializeAs="String">
                <value />
            </setting>
        </stCoCServerConfig.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <stCoCServerConfig.Properties.Settings>
            <setting name="IRCChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCNik" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCSOutFileName" serializeAs="String">
                <value>irc.txt</value>
            </setting>
            <setting name="IRCSOutDirName" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCServerMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCNoticeMessage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SQLDBPath" serializeAs="String">
                <value>coc.db</value>
            </setting>
            <setting name="SQLDBUri" serializeAs="String">
                <value>Data Source={0};Version=3;UTF8Encoding=True;DateTimeFormat=ISO8601;Cache Size=3000;</value>
            </setting>
            <setting name="IRCAdminPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SYSLANGConsole" serializeAs="String">
                <value>RU</value>
            </setting>
            <setting name="WEBRootUri" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="WEBRootPort" serializeAs="String">
                <value>8989</value>
            </setting>
            <setting name="IRCLogTimeFormat" serializeAs="String">
                <value>HH:mm:ss</value>
            </setting>
            <setting name="IPFIsIpBlackList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPFIsGeoAsnBlackList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SYSGEOPath" serializeAs="String">
                <value>geo</value>
            </setting>
            <setting name="SYSIRCLOGPath" serializeAs="String">
                <value>log</value>
            </setting>
            <setting name="SYSTMPLPath" serializeAs="String">
                <value>template</value>
            </setting>
            <setting name="IPFLocation" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>assets</string>
                        <string>irclog</string>
                        <string>clan</string>
                        <string>json</string>
                        <string>notify</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IPFType" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>FileWebRquest</string>
                        <string>TemplateWebRquest</string>
                        <string>JsonWebRquest</string>
                        <string>JsonWebRquest</string>
                        <string>ServerSentEventWebRquest</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CLANTag" serializeAs="String">
                <value />
            </setting>
            <setting name="CLANAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="SQLDBUpdateTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LOGRemoteServerEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOGRemoteServerPort" serializeAs="String">
                <value>514</value>
            </setting>
            <setting name="LOGRemoteServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="LOGDuplicateEntry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SYSAppName" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCFloodTimeOut" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="IRCKickRespawn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPFIsGeoCountryBlackList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPFLocationEnable" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>True</string>
                        <string>True</string>
                        <string>True</string>
                        <string>True</string>
                        <string>True</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IRCPluginSayEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCPluginClanEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCPluginHelpEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCPluginModeEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCPluginTimeEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCPluginTopicEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCPluginUpTimeEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCPluginVersionEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCPluginUrlShortEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCPluginContextUrlTitleEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCPluginLoopClanNotifyEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IRCPluginLoopClanNotifyPeriod" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IRCPluginLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCPluginNotifySetupEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WEBLANGDefault" serializeAs="String">
                <value />
            </setting>
            <setting name="IRCPluginLangSetupEnable" serializeAs="String">
                <value>True</value>
            </setting>
        </stCoCServerConfig.Properties.Settings>
    </applicationSettings>
</configuration>